# Python/IDE 관련
__pycache__/
*.pyc
*.pyo
*.pyd

# 로그 파일
*.log
logs/

# db 관련
*.db

# Git 관련
.git
.gitignore

# 시나리오 파일
news_json_files/*
result_json_files/*

# 환경변수
.env

# MLflow 로컬 데이터
mlruns/
mlartifacts/
mlflow.db
mlflow.db-*
*.db-journal


# 더미 데이터 제외
invest/data/investment_game_dummy_data.json