.env

# logs 폴더 전체 무시
logs/*

# 단, .gitkeep 파일은 포함 (구조 유지)
!logs/.gitkeep

# pycache는 무시
**/__pycache__/
*.pyc

.pem

# mlflow 로컬 데이터
**/mlruns/
**/mlartifacts/
mlflow.db

# invest_history_dummy 데이터 제거
invest/data/investment_game_dummy_data.json
